/* The animation code */
@keyframes example {
    from {width: 0%;}
    to {width:100%;}
  }

  /* The element to apply the animation to */
div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  }